@import url(http://fonts.googleapis.com/css?family=Tangerine:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* General Style */
body {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    font-size: 12px
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h1.page_heading {
    color: #4A66D9;
    font-size: 75px;
}

h2.page_heading {
    color: #4A66D9;
}

h2.error {
    color: #cd0d00;
}

h2.loggedin {
    color: #219807;
}

a, a:hover {
    text-decoration: none;
    color: #3F8AEB;
}

a.complete {
    color: #219807;
}

a.delete, a.edit {
    color: black;
}

.note_title {
    padding: 5px;
    margin: auto;
    height: 25px;
    max-width: 690px;
    width: 100%;
    color: #7D7D7D;
    border: 1px #cfcfcf solid;
    border-radius: 5px;
}

.note_body {
    padding: 5px;
    margin: auto;
    height: 500px;
    max-width: 690px;
    width: 100%;
    color: #7D7D7D;
    border: 1px #cfcfcf solid;
    border-radius: 5px;
}

footer {
    height: auto;
    width: 98%;
    padding: 1%;
    margin: auto;
    clear: both;
}

tr.todo, tr.to do {
    color: black !important;
}

tr.done, tr.done a {
    opacity: 0.75;
}

td  {
    padding: 5px;
    font-size: 14px;
    height: 40px;
}

table {
    width: 95%;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

div.column-1 {
    width: 18%;
    background: rgb(240, 240, 240);
    height: 100%;
    float: left;
}
div.column-2 {
    float: left;
    max-width: 24%;
    width: 100%;
    height: 100%;
}
div.column-3 {
    float: left;
    max-width: 58%;
    width: 100%;
    height: 100%;
}
div.column-1-inner {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 100%;
}
div.column-2-inner {
    border-right: 1px solid #ddd;
    height: 100%;
}
div.column-3-inner {
    border-right: 1px solid #ddd;
    height: 100%;
}

#features {
    text-align: center;
    clear: both;
    padding-top: 25px;
    padding-bottom: 25px;
}

#feature {
    width: 28%;
    padding: 2%;
    float: left;
    text-align: center;
    height: auto;
    margin-bottom: 40px;
}

#header-inner a:link,
#header-inner a:visited,
#header-inner a:active {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

div.header {
    background: #2BB636;
    width: 100%;
    height: 50px;
    color: white;
    border-bottom: 1px white solid;
}

#header-inner {
}

#header-inner a:hover {
    color: white;
    text-decoration: underline;
}

div.header-navigation {
    padding: 10px;
}

div.container {
    max-width: 1250px;
    margin: auto;
}

div.padded-container {
    padding: 2%;
    width: 96%;
    max-width: 1000px;
    margin: auto;
}

li {
    font-size: 12px;
}
div.filters {
    width: 94%;
    max-width: 94%;
    background: rgb(245, 245, 245);
    height: 15px;
    border-bottom: 1px solid #ddd;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    font-size: 12px;
}

#new-note {
    width: 100%;
    max-width: 500px; 
    margin: auto; 
    padding: 20px;
    background: white;
    border-radius: 10px;
    }

#footer {
    text-align: center;
}


input.text {
    width: 100%;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}

textarea.note {
    width: 100%;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    min-height: 100px;
    font-family: inherit;
}

select.select {
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    padding: 3px;
}

input.select {
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    padding: 3px;
    font-family: inherit;
    width: 136px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

img.landing-image {
text-align: center; margin-top: 30px; box-shadow: 0px 0px 40px gray; border-radius: 5px; max-width: 500px; width: 90%; margin: auto 5%;
}

div#landing-banner {
background: #3D6AA2; height: auto; width: 100%; color: white; text-align: center;
}

input.sign-in {
padding: 10px; border: 1px solid #27ae60; border-radius: 5px; background: #27ae60; cursor: pointer; color: white;
}

input.sign-in:hover {
padding: 10px; border: 1px solid lime; border-radius: 5px; background: #27ae60; cursor: pointer; color: white;
}

    a.javaless-nav {
    display: none;
}

/* Desktop */
@media screen and (min-width: 771px) {


}


/* */
@media screen and (max-width: 1000px) {
}


/* Mobile */
@media screen and (max-width: 800px) {

    #feature {
        width: 96%;
    }

    div.sidebar {
        width: 100%;
        text-align: center;
        border: 0px;
        padding: 0px;
        padding-top: 20px;
	display: none;
    }
    div.note-list {
	width: 100%;
}
    select.header-dropdown {
	width: 50%;
}
    a.javascript-nav {
    display: none;
}
    a.javaless-nav {
    display: inline;
}
}


/* Mobile
@media screen and (max-width: 1360px) {

    div.container {
    max-width: 100%;
    }

}
*/
